<!DOCTYPE html>
<html>
  <head>
    <center><title>REGEX101-CLONE</title><center>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>TEST YOUR REGEX STRING</h1>
    <form method="post">
      <center><label for="test_string">Test String:</label><center>
      <center><input type="text" id="test_string" name="test_string"><center><br>
      <center><label for="regex">Regular Expression:</label><center>
      <center><input type="text" id="regex" name="regex"><center><br>
      <center><input type="submit" value="Submit"><center>
    </form>
  </body>
</html>
